<br/><br/><br/>
  <h1 style="color: #6c757d;">Administración</h1>
    <div class="tab">
     <button class="tablinks" onclick="openLink(event, 'Roles')"><%= link_to 'Role', roles_path, style: "color:rgb(23, 162, 184);" %></button>
     <button class="tablinks" onclick="openLink(event, 'Clientes')"><%= link_to 'Cliente', clients_path, style: "color:rgb(23, 162, 184);" %></button>
     <button class="tablinks" onclick="openLink(event, 'Usuarios')"><%= link_to 'Usuario', users_path, style: "color:rgb(23, 162, 184);" %></button>
    </div>
<br/>
<%= notice%>
<br/><br/>